{% extends 'base-profile.html' %}

{% block info %}
    <div class="inner cover lead" style="width:78%;float:right">
        <h3>My Info</h3>
        <span>
            <form style="color: #42c7c2" enctype="multipart/form-data" method="post" action="{% url 'edit_profile' %}">
                <p>First Name: {{ profile_form.first_name }} {{ profile_form.first_name.errors }}</p>

                <p>Last name: {{ profile_form.last_name }} {{ profile_form.last_name.errors }}</p>

                <p>Email: {{ profile_form.email }} {{ profile_form.email.errors }}</p>

                <p>About: {{ profile_form.about }} {{ profile.form.about.errors }}</p>

                <p>Picture: {{ profile_form.picture }} {{ profile.form.about.errors }}</p>

                <input type="submit" class="btn btn-lg btn-default" value="Update!"/>
                {% csrf_token %}
            </form>

            {% if profile.premium %}
                <p>You are currently a standard member.</p>
                <input type="submit" class="btn btn-lg btn-default" value="Upgrade to Premium!"/>

            {% else %}
                <p>You are currently a premium member.</p>
            {% endif %}
            <p>You are currently using {{ profile.space_left }} out of 10 MB </p>
        </span>

    </div>
{% endblock %}
