{% extends 'base-profile.html' %}

{% block follow %}
    <p class="lead">
        <a href="#openModalProfile" class="btn btn-lg btn-default">Edit Profile!</a>
    </p>
{% endblock %}

{% block info %}
    <h1>Your Favorited Projects</h1>

    <div id="openModalProfile" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>

            <h2>Edit Your Profile:</h2>

            <form action="{% url 'edit_profile' %}" role="form"
                  enctype="multipart/form-data" method="post">
                <p class="modal-text">First Name:
                    <span class="modal-form">{{ profile_form.first_name }}</span>
                    <span style="color: red">{{ profile_form.first_name.errors }}</span>
                </p>

                <p class="modal-text">Last Name:
                    <span class="modal-form">{{ profile_form.last_name }}</span>
                    <span style="color: red">{{ profile_form.last_name.errors }}</span>
                </p>

                <p class="modal-text">Email:
                    <span class="modal-form">{{ profile_form.email }}</span>
                    <span style="color: red">{{ profile_form.email.errors }}</span>
                </p>

                <p class="modal-text">About:
                    <span class="modal-form">{{ profile_form.about }}</span>
                    <span style="color: red">{{ profile_form.about.errors }}</span>
                </p>

                <p class="modal-text">Picture:
                    <span class="modal-form" style="color: red">{{ profile_form.picture }}</span>
                    <span style="color: red">{{ profile_form.picture.errors }}</span>
                </p>
                <input class="btn btn-lg lead" type="submit" value="Save Changes!"/>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
