.search-results {
    width: 100%;
    float: right;
    height: 500px;
    overflow: auto;
}

.button-area {
    width: 24%;
    height: 110px;
    float: left;
    top: 50%;
    padding-top: 12px;
    padding-right: 20px;
}

.simulate-button {
    width: 50%;
    float: left;

}

.edit-button {
    width: 25%;
    float: left;

}

.trash-button {
    width: 25%;
    float: right;

}

.button-area:first-of-type {
    margin-top: 20px;
}

.trash-button > .lead > .program-btn {
    color: #ff0000;
    border-color: #ff0000;
    position: relative;
}

.edit-button > .lead > .program-btn {
    color: #ff984c;
    border-color: #ff984c;
    position: relative;
}

.simulate-button > .lead > .program-btn {
    color: limegreen;
    border-color: limegreen;
    position: relative;
}

.file {
    height: 110px;
    text-shadow: none;
    background-color: #ffffff;
    color: #42c7c2;
    border-radius: 10px;
    border: 5px solid #42c7c2;

    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.file-title {
    float: left;
    clear: left;
    width: 50%;
    text-align: center;
    color: #42c7c2;
    margin-top: 0px;
    margin-bottom: 0px;
}

.file-desc {
    float: left;
    clear: left;

    width: 50%;
    text-align: center;
    color: #42c7c2;
    margin-top: 0px;
    margin-bottom: 0px;
}

.file-data {
    float: right;
    clear: right;
    width: 45%;
    text-align: right;
    color: #42c7c2;
    margin-top: 0px;
    margin-bottom: 0px;
}