.CodeMirror {
    border: 2px inset #dee;
}

#code {
    text-shadow: none;
}

.display_box {
    color: #42c7c2;
    border-radius: 10px;
    background-color: #ffffff;
    border: 3px solid #42c7c2;
}

.display_box > h1 {
    text-align: center;
}

.editor-box {
    text-align: left;
    text-shadow: none;
    width: 33%;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.console-box {
    text-align: left;
    text-shadow: none;
    width: 40%;
    float: left;
    height: 250px;
    overflow: auto;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.register-box {
    text-shadow: none;

    width: 18%;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 50px;
}

.memory-box {
    float: right;
    text-shadow: none;
    text-align: left;
    width: 35%;
    margin-top: 25px;
    margin-left: 25px;

}

.button-box {
    width: 50%;
    float: right;
    clear: both;
}

#main_memory {
    padding-left: 50px;
}

#registers > p {
    padding-left: 40px;
    font-size: 18px;
    text-align: left;
}

.display_box > .buttons {
    text-align: right;
}