.CodeMirror {
    border: 1px solid #eee;
    height: 610px;
    width: 100%;
/*    border-radius: 10px; */
}

.breakpoints {width: .8em;}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

#main_memory {
    position: relative;
}

tbody tr:hover td.hasRowSpan {
    background-color: white; /* or whatever color you want */
}