{% extends 'base-simulator.html' %}
<!-- This will provide the base template for which profile and edit profile extends -->

{% block title %}{{ profile.first_name }} {{ profile.last_name }}{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block cover %}
    <div class="profile-sidebar">
        <div class="profile-sidebar-info">
            <h2>{{ profile.first_name }} {{ profile.last_name }}'s Profile</h2>

            <h3>{{ profile.email }}</h3>
            {% block follow %} {% endblock %}

            <!-- Image -->
            {% if profile.picture != 'defaultProfile.png' %}
                <img src="{% url 'photo' profile.id %}" alt="No Image Uploaded" height="150px">
            {% endif %}
            <p style="height: 80px; overflow: auto">{{ profile.about }}</p>

        </div>


        <!-- Following -->
        <div class="profile-sidebar-following">
            <h3> Following:</h3>

            <div class="following-box">

                {% for following_profile in following_list %}
                    <a href={% url 'view_profile' following_profile.id %}>
                        <h4>{{ following_profile.first_name }} {{ following_profile.last_name }}</h4>
                    </a>
                {% endfor %}

            </div>
        </div>

        <!-- Followers  -->
        <div class="profile-sidebar-following">
            <h3> Followers:</h3>

            <div class="following-box">

                {% for follower_profile in followed_by_list %}
                    <a href={% url 'view_profile' follower_profile.id %}>
                        <h4>{{ follower_profile.first_name }} {{ follower_profile.last_name }}</h4>
                    </a>
                {% endfor %}
            </div>
        </div>


    </div>

    <!-- Input info here -->
    <div class="profile-info">
        {% block info %} {% endblock %}

        <div class="search-results">

            {% for ASMFile in fileList %}
                <div class="button-area">
                    <div class="simulate-button">
                        <p class="lead">
                            <a href="{% url 'simulate_program' ASMFile.id %}" class="btn program-btn">Simulate</a>
                        </p>
                    </div>
                    {% if ASMFile in profile.favorite_asm.all %}
                        <div class="unfavorite-button">
                            <p class="lead">
                                <a href="{% url 'unfavorite' ASMFile.id %}" class="btn program-btn "><span
                                        class="glyphicon glyphicon-heart"></span></a>
                            </p>
                        </div>
                    {% else %}
                        <div class="favorite-button">
                            <p class="lead">
                                <a href="{% url 'favorite' ASMFile.id %}" class="btn program-btn "><span
                                        class="glyphicon glyphicon-heart"></span></a>
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="file">
                    <h2 class="file-title">{{ ASMFile.name }}</h2>
                    <a href={% url 'view_profile' ASMFile.owner.id %}>
                        <p class="file-data">Owner: {{ ASMFile.owner }}</p>
                    </a>
                    {% if ASMFile.public %}
                        <p class="file-data">This project is public. Favorited {{ ASMFile.favorites.count }} times</p>
                    {% else %}
                        <p class="file-data">This project is private. Favorited {{ ASMFile.favorites.count }} times</p>
                    {% endif %}

                    <h3 class="file-desc">{{ ASMFile.description }}</h3>

                    <p class="file-data">Created Date: {{ ASMFile.created_date }}</p>

                    <p class="file-data">Last Modified: {{ ASMFile.last_modified }}</p>

                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}