{% extends "base-page.html" %}
<!-- This is the base template for when users are not logged in
     Pages include: login, register, password reset, email confirmation -->

<!-- Custom styles for cover template -->
{% block css %}
    <link type="text/css" href="/static/css/cover.css" rel="stylesheet">
{% endblock %}

{% block extra_body %}style="background: url("/static/images/loginBackground.jpg")"{% endblock %}

{% block navbar %}

    <!-- Navbar at the top of the screen -->
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand"><a href="{% url 'login' %}">ASM Simulator</a></h3>
            <ul class="nav masthead-nav">
                <li><a href="#openModalTutorial">Tutorial</a></li>
                <li><a href="#openModalLogin">Login</a></li>
                <li><a href="#openModalRegister">Register</a></li>
                <li><a href="#openModalReset">Forgot Password?</a></li>
            </ul>
        </div>
    </div>

    <div id="openModalLogin" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>

            <h2>Enter Login Info:</h2>

            <form action="{% url 'login' %}" role="form" method="post">
                <table>
                    <tbody>
                    <tr class="spaceUnder">
                        <td class="modal-text">Username:</td>
                        <td><span class="modal-form">{{ login_form.username }}</span></td>
                        <td><span class="modal-error" style="color: #ff0000">{{ login_form.username.errors }}</span>
                        </td>
                    </tr>
                    <tr class="spaceUnder">
                        <td class="modal-text">Password:</td>
                        <td><span class="modal-form">{{ login_form.password }}</span></td>
                        <td><span class="modal-error" style="color: #ff0000">{{ login_form.password.errors }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <input class="btn btn-lg lead" type="submit" value="Login!"/>
                {% csrf_token %}
            </form>
        </div>
    </div>

    <div id="openModalRegister" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>

            <h2>Register Now!</h2>

            <form action="{% url 'register' %}" role="form" method="post">
                <br>
                <table>
                    <tbody>
                    <tr class="spaceUnder">
                        <td class="modal-text">Username:</td>
                        <td><span class="modal-form">{{ registration_form.username }}</span></td>
                        <td><span class="modal-error">{{ registration_form.username.errors }}</span></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td class="modal-text">First Name:</td>
                        <td><span class="modal-form">{{ registration_form.first_name }}</span></td>
                        <td><span class="modal-error">{{ registration_form.first_name.errors }}</span></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td class="modal-text">Last Name:</td>
                        <td><span class="modal-form">{{ registration_form.last_name }}</span></td>
                        <td><span class="modal-error">{{ registration_form.last_name.errors }}</span></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td class="modal-text">Email:</td>
                        <td><span class="modal-form">{{ registration_form.email }}</span></td>
                        <td><span class="modal-error">{{ registration_form.email.errors }}</span></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td class="modal-text">Password:</td>
                        <td><span class="modal-form">{{ registration_form.password1 }}</span></td>
                        <td><span class="modal-error">{{ registration_form.password1.errors }}</span></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td class="modal-text">Confirm Password:</td>
                        <td><span class="modal-form">{{ registration_form.password2 }}</span></td>
                        <td><span class="modal-error">{{ registration_form.password2.errors }}</span></td>
                    </tr>
                    </tbody>
                </table>
                <input class="btn btn-lg lead" type="submit" value="Register!"/>
                {% csrf_token %}
            </form>
        </div>
    </div>

    <div id="openModalReset" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>

            <h2>Enter your Email:</h2>

            <form action="{% url 'reset' %}" role="form" method="post">
                <p class="modal-text">Email:
                    <span class="modal-form">{{ reset_form.email }}</span>
                    <span class="modal-error" style="color: #ff0000">{{ reset_form.email.errors }}</span>
                </p>
                <input class="btn btn-lg lead" type="submit" value="Submit!"/>
                {% csrf_token %}
            </form>
        </div>
    </div>

    <div id="openModalTutorial" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>

            <h2>What is assembly?</h2><br>
            This web application is an assembly simulator. Now what is assembly? <br>
            Assembly is a low-level computer programming language that is almost <br>
            directly understood by your computer's processor. Assembly language <br>
            generally comes in the form of a fixed set of instructions that are<br>
            mapped to a set of machine code instructions that the processor <br>
            understands.<br>
            <br>
            One of the biggest differences between assembly and other high-level<br>
            programming is that each assembly language is unique to the computer <br>
            it runs on. This means that there are numerous types of assembly each<br>
            of varying complexity. What ASM Simulator seeks to do is provide a<br>
            simple version of assembly to teach the user operations that are<br>
            found in most assembly languages as well as how the assembly language<br>
            interacts with the hardware.<br>
            <br>
            <h4>Hardware Overview:</h4><br>
            This simulator uses a 16 bit Instruction Set Architecture(ISA). <br>
            To summarise, an ISA is the architecture of a computer that covers <br>
            the hardware that enables users to program. This hardware includes: <br>
            registers, memory architecture, and instruction set. More complex <br>
            ISA's cover exception handling and interrupts and more. For teaching <br>
            purposes our ISA will only cover the first three components mentioned.<br>
            <br>
            All ISA's have their own instruction set and ours is detailed in the <br>
            editor references. Our ISA is a 16-bit ISA, this means that the <br>
            registers and memory locations store values that are 16 bits. The <br>
            address range spans from 0x0 to 0x512.<br>
            <br>
        </div>
    </div>
{% endblock %}
